
<div class="bg-slate-100 p-10 flex flex-row justify-center border-1 rounded m-10 border-yellow-500">
  

<form class="container col-6 w-[800px]" method="post">
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">FirstName</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="firstName">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">LastName</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="lastName">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Telephone</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="Telephone">
      </div>
   
    <button type="submit" class="btn btn-primary text-black">Submit</button>
  </form>

  </div>
