<h1>Hello world</h1>


    <ul>
        <% messages.forEach(element => { %>
         <h1>Hello + <%= element %></h1>
        <% }) %>
       
     </ul>


<button><a href="/add">Add Coustomer</a> </button>